@import "../common/css/common.css";

html,body{
	width: 100%;
	height: 100%;
	background-image: url(img/bg.jpg);	
	background-size: cover;
	background-repeat: no-repeat;
}
.avatar{
	width: 30%;
	height: auto;
	position: absolute;
	top: 120px;
	left: 0;
	right: 0;
	margin: auto;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}


/*CSS3*/
.avatarFadeIn{
    animation: avatarFadeIn 1.2s ease-in forwards;
}
@keyframes avatarFadeIn {
    0%{
        transform: scale3d(0, 0, 0) rotate3d(0, 0, 1, 15deg);
    }
    33%{
        transform: scale3d(0, 0, 0) rotate3d(0, 0, 1, 15deg);
    }
    80%{
        transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 15deg);
    }
    100%{
    	transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
    }
}

.avatarScale3d{
    animation: avatarScale3d 1.2s ease-in-out;
}
@keyframes avatarScale3d {
    0%{
        transform: rotate3d(0, 1, 0, 0deg);
    }
    100%{
    	transform: rotate3d(0, 1, 0, 360deg);
    }
}